DATABASE_URL="db url"
PORT=3000
CORS_ORIGIN=""
NODE_ENV="development or production"

ACCESS_TOKEN_SECRET="access token secret"
ACCESS_TOKEN_EXPIRY="access token expiry"
ACCESS_COOKIE_AGE= "access token cookie age"
REFRESH_TOKEN_SECRET="refresh token secret"
REFRESH_TOKEN_EXPIRY="refresh token expiry"
REFRESH_COOKIE_AGE= "refresh token cookie age"

ADMIN_NAME="admin name"
ADMIN_EMAIL="admin email"
ADMIN_PASSWORD="admin password"